<h1>New Task</h1>

<%= form_with(model: [ @task.task_list, @task ]) do |form| %>
    <div class="field">
        <%= form.text_field :content %>
        <%= form.submit "Create" %>
    </div>
<% end %>

<%= link_to "Back", @task.task_list %>