<h1>Editing Task List</h1>

<%= turbo_frame_tag "task_list" do %>
    <%= render 'form', task_list: @task_list %>
<% end %>

<%= link_to 'Show', @task_list %> |
<%= link_to 'Back', task_lists_path %>
